.div-side-bar{
    height: 100vh;
    width: 15%;
    position: fixed;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 85%;
    direction: rtl;
}
.container-title-and-icon{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding-right: 8px;
}
.playlistTitle{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.css-i4bv87-MuiSvgIcon-root{
    color: white;
    margin-left: 2%;
}
.container-title-and-icon:hover{
   background-color: rgb(110, 62, 62);
}
.title-of-sidebar{
    color: white;
    margin-left: 13px;
}
@media (max-width: 600px) {
    .title-of-sidebar{
        display: none;
    }
    .container-title-and-icon{
        padding-right: 0px;
    }
}