

.showRecomendSong{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 85%;
    padding: 20px;
    margin-top: 47px;
    margin-left: 25px;
}
@media (max-width: 690px){
    
}