

.showRecomendSong{
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 85%;
    padding: 20px;
    margin-top: 47px;
    margin-left: 25px;
}
