@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Luckiest+Guy&family=Orelega+One&family=Roboto:ital@1&family=Rubik:wght@800&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Concert+One&family=Fredoka+One&family=Luckiest+Guy&family=Orelega+One&family=Roboto:ital@1&family=Rubik:wght@800&family=Sansita+Swashed:wght@300&family=Shrikhand&display=swap');

.container-playlist-details{
    margin-top: 25px;
}
.title-playlist{
    color: white;
    padding-top: 20px;
    margin-left: 35%;
    font-family: 'Concert One', cursive;
}
.containerPlaylist{
    display: flex;
    flex-direction: column;
    height: 27%;
}
.playlistSongs{
    /* padding: 20px; */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    top: 22%;
    width: 85%;
}
.imgOfPlaylist{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.noSongsPlaylist{
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
@media (max-width: 600px) {
    .title-playlist{
        margin-left: 33%;
    }
}