
.titlePlay{
    text-align: center;
    color: white;
}
.playSong{
    height: 85%;
    padding: 20px;
    border: 2px solid white;
    display: inline-block;
/* float: left; */
    margin-top: 12%;
    margin-left: 39%;
    /* direction: rtl; */
    
}
.containerAllDetail{
    display: flex;
}
.playSomeSong{
    width: 50%; 
    display: flex;
}
.icon-add-to-playlist{
    width: 10%;
    margin-left: 96%;
    position: relative;
    top: -42px;
}
.title-of-song{
    color: white;
    margin-top: 35px;
    display: inline-block;
}
.container-details-play{
    padding-left: 23px;
    padding-right: 43px;
    align-items: center;
    height: 70px;
}

@media (max-width: 600px) {
    .play-the-song{
        width: 185% !important;
        height: 160% !important;
    }
    .playSong{
        /* width: 143%; */
        height: 60%;
        margin-left: 10%;
        padding: 20px;
    }
    .container-details-play{
        width: 200%;
        padding-top: 0;
        margin-left: -9px;
    }
    .title-of-song{
        margin-top: 10px;
    }
    .icon-add-to-playlist{
        top: -51px;
    }
    .playSong{
        border: none;
    }
}