
.recomendSong{
    border:  solid black;
    font-family: "Orelega One";
    color: black;
    font-size: 20px;
    margin-left: 10px;
    width: 18%;
    height: 270px;
    margin-bottom: 25px;
}
.recomendSong:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    background-color: rgb(151, 146, 137);
  } 
  .contain-recomend-img{
     padding-right: 0;
  }
  .containerRecommend{
    padding: 16px 16px;
    text-align: left;
    text-align: center;
    background-color: white;
    opacity: 0.6;
    height: 53%;
  }
  .img-recomend-song{
    width: 100%;
  }
  .nameOfSong{
      font-size: 20px;
  }
  .artistOfSong{
      font-size: 15px;
  }
  .img-recomend-song{
    height: 222;
  }
  .likeIcon{
    position: relative;
    bottom: unset;
    right: 28px;
    display: flex;
    width: 10%;
    margin-left: 96%;
    position: relative;
    top: -42px;
    
  }
  
  @media (max-width: 690px) {
.recomendSong{
   width: 80%;
}
  }