
.parallax{
  min-height: 721px; 
  background-image: url("../1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px;
}

.containSearchAndRecomend{
  display: flex;
}

