
/* .Home{
  /* background-color: rgb(81, 81, 102); */
/* } */ 

.parallax{
  min-height: calc(20vh); 
  background-image: url("../1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 70px;
}

.containSearchAndRecomend{
  display: flex;
}

